/* General */
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    color: #23120B;
    margin: 0 auto;
    padding: 0;
    background-color: #F1F1F1;
    background-image: url(../icons/main_grid.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

h1{ /*HOME PAGE */
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 330px;
    color: #21209C;
    max-width: 1024px;
}

.normal_h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 94px;
    color: #21209C;
    margin: 150px 0 0 40px;
}

h2{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 58px;
    color: #23120B;
    margin: 5px 0 5px 0;
}

h3{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    color: #23120B;
    margin: 5px 0 5px 0; 
}

.blue_text{
    color: #21209C;
}

::selection {
    background-color: #FDB827;
    color: #23120B;
    -webkit-text-fill-color: #23120B;
}

::-moz-selection {
    background-color: #FDB827;
    color: #23120B;
    -webkit-text-fill-color: #23120B;
}

::-webkit-selection {
    background-color: #FDB827;
    color: #23120B;
    -webkit-text-fill-color: #23120B;
}

/* Header */
header{
    padding: 10px;
    position: fixed;
    z-index: 100%;
    top: 0;
    left: 0;
    right: 0;
}

header div{
    margin: auto;
    background-color: #23120B;
    border-radius: 15px;
    margin-top: 20px;
    padding: 25px 0;
    width: 750px;
    z-index: 100%;
}

header div nav{
    text-align: center;
}

nav ul{
    list-style-type: none;
    padding: 0;
}
nav ul li{
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color: #F1F1F1;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    padding: 20px;
}

nav li a:hover{
    color: #FDB827;
}

#button_header{
    border-radius: 10px;
    background-color: #FDB827;
    color: #23120B;
    padding: 8px 20px;
    margin-left: 0.5em;
    margin-right: 12px;
    font-size: 20px;
    text-align: center;
}

#button_header:hover{
    background-color: #F1F1F1;
    color: #21209C;
}

/* Body */
main{
    max-width: 1024px;
    margin: 200px auto 100px;
}

#main_homepage{
    max-width: 100%;
}

/* Introduction */
main img{
    border-radius: 15px;
}

main#homepage div.square{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

main#homepage div.square.image{
    width: 500px;
}

main#homepage div.square.paragraph{
    padding: 10px 25px;
    margin-left: 7px;
    width: 463px;
    height: 245px;
    color: #F1F1F1;
    background-color: #23120B;
    border-radius: 15px;
    margin-top: 240px;
    padding-bottom: 20px;
    text-align: left;
}

main#homepage div.square.paragraph a{
    background-color: #FDB827;
    text-decoration: none;
    color: #23120B;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 12px 118px;
    border-radius: 10px;
}

main#homepage div.square.paragraph a:hover{
    color: #21209C;
    background-color: #F1F1F1;
}

/* Testimonials */
main#homepage section.testimonials{
    margin-top: 150px;
}

main#homepage div.testimonial{
    display: inline-block;
    vertical-align: top;
    width: 332px;
}

main#homepage div.testimonial.second{
    padding-left: 15px;
}

/* Projets */
section.projects.first_row{
    margin-top: 100px;
}

section.projects.second_row{
    margin-top: 5px;
}

#h2_projects{
    margin-bottom: 20px;
}

article.card{
    display: inline-block;
    background-color: #21209C;
    color: #F1F1F1;
    width: 298px;
    padding: 0 20px 20px 20px;
    border-radius: 15px;
    vertical-align: top;
}

article.card p{
    color: #F1F1F1;
}

article.card img{
    width: 50%;
}

article.card a{
    background-color: #FDB827;
    text-decoration: none;
    color: #23120B;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 12px 93px;
    border-radius: 10px;
    display: block;
    line-height: normal;
}

article.card a:hover{
    color: #21209C;
    background-color: #F1F1F1;
}

section.projects.third_row{
    margin-top: 100px;
}

section.projects.fourth_row{
    margin-top: 5px;
}

section.projects.fifth_row{
    margin-top: 150px;
}

/* Contact */
.contact{
    margin-top: 150px;
}

div.informations{
    display: inline-block;
    width: 510px;
    vertical-align: top;
}

.informations img{
    width: 100%;
    margin: auto;
    display: block;
}

/* Footer */
footer{
    background-color: #21209C;
    color: #F1F1F1;
    align-items: center; 
    margin-top: 50px;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

div.top {
    max-width: 1024px;
    margin: 200px auto 50px;
    padding-top: 50px;
    text-align: center;
}

div.top a{
    margin-left: 10px;
}

.designer p{
    margin: 20px 0 0 5px;
}

.white_line{
    border-top: 2px solid #F1F1F1;
}

div.bottom {
    max-width: 1024px;
    margin: 200px auto 100px;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

div.bottom a{
    text-decoration: none;
    color:#F1F1F1
}

/* Page personal_projet */
#work article{
    padding-top: 15px;
}

.bouton:hover{
    color: #F1F1F1;
    background-color: #21209C;
}

.image_connexion div{
    display: inline-block;
}

.image_accueil div{
    display: inline-block;
}

.image_tache div{
    display: inline-block;
    vertical-align: top;
}

.wireframes div img{
    vertical-align: top;
}

.prototype div img{
    vertical-align: top;
}

.protopersonas img{
    width: 100%;
}

.personas img{
    width: 100%;
}

.user_needs img{
    width: 100%;
}

.user_flow img{
    width: 100%;
}

.journey_map img{
    width: 100%;
}

.kitui img{
    width: 100%;
}

video{
    width: 100%;
}

article.survey img{
    width: 100%;
}

.wireframes, .prototype{
    width: 110%;
}

.bouton{
    background-color: #FDB827;
    text-decoration: none;
    color: #23120B;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
}
/* My Hobby */
.logo_myhobby{
    width: 15%;
}

.myhobby_questionnement img{
    display: inline-block;
}

.myhobby_questionnement div img{
    width: 49%;
    vertical-align: top;
}

.wireframes img{
    vertical-align: top;
    padding-bottom: 10px;
}

.prototype img{
    vertical-align: top;
    padding-bottom: 10px;
}

.kit_UI img{
    width: 100%;
}

/* RESPONSIVE */
/* Mobile screen 375px */
@media screen and (min-width: 375px){
    /* General */
    body {
        background-image: none;
    }
    
    p {
        font-size: 12px;
        width: 100%;
    }

    ul{
        font-size: 12px;
    }

    h1 {
        font-size: 100px;
        margin: 0 20px;
        width: 90%;
    }

    .normal_h1{
        font-size: 52px;
        margin: -70px 20px 0 20px;
    }

    h2 {
        font-size: 20px;
        display: block;
        width: 100%;
    }

    h2#h2_projects{
        font-size: 20px;
        display: block;
        width: 100%;
    }
    
    h3 {
        font-size: 18px;
        width: 100%;
        display: inline;
    }

    /* Menu */
    header {
        margin: 0px;
        background-color: #23120B;
        width: 94%;
        position: relative;
    }

    header div {
        width: 100%;
        margin: 0;
        padding: 0;
        background: none;
    }

    header div nav{
        text-align: center;
    }

    nav ul li {
        display: block;
        padding-bottom: 10px;
    }
    
    nav ul li a {
        font-size: 12px;
        padding: 2px;
        margin: 0;
        color: #F1F1F1;
    } 

    nav ul li a:hover {
        color: #FDB827;
    } 

    #button_header{
        font-size: 12px;
        border-radius: 0;
        color:#F1F1F1;
        padding: 5px;
        margin: 0;
        background: none;
    }

    #button_header:hover{
        color: #FDB827;
        background: none;
    }

    /* Introduction */
    .introduction {
        margin-top: -170px;
    }

    main#homepage div.square img{
        width: 89%;
        margin: 0 20px 10px 20px;
    }

    main#homepage div.square.image{
        width: 100%;
    }

    main#homepage div.square.paragraph{
        width: 76%;
        height: 215px;
        margin: 0 20px;
        padding-bottom: 5px;
    }

    main#homepage div.square.paragraph a{
        font-size: 14px;
        padding: 10px 42px;
    }

    /* Testimonials */
    main#homepage section.testimonials{
        margin: 50px 20px 0px 20px;
    }

    main#homepage div.testimonial{
        display: block;
        width: 100%;
    }

    main#homepage div.testimonial.second{
        padding-left: 0;
    }

    .testimonials p{
        width: 100%;
    }

    /* Projets */
    section.projects.first_row{
        margin: 50px 20px 0 20px;
        width: 79%;
    }

    article.card img{
        width: 100%;
    }

    article.card{
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }

    section.projects.second_row{
        margin: 0px 20px;
        width: 79%;
    }

    section.projects.third_row{
        margin: 50px 20px 0 20px;
        width: 79%;
    }

    section.projects.fourth_row{
        margin: 0px 20px;
        width: 79%;
    }

    section.projects.fifth_row{
        margin: 50px 20px 0 20px;
        width: 79%;
    }

    /* About me */
    section.about_me{
        margin: 50px 20px 0 20px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 50px;
        margin-left: 20px;
        padding: 0;
    }

    .informations.a{
        width: 100%;
    }

    .informations.b{
        width: 100%;
    }

    .informations img{
        display: none;
    }

    /* Footer */
    footer{
        width: 100%;
        margin-top: -150px;      
    }

    .white_line{
        width: 100%;
    }

    /* personal_projet */
    #work{
        margin-top: 100px;
    }

    section.personal_projet{
        width: 100%;
        margin: 0px 20px 0 20px;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    .bouton{
        font-size: 13px;
        padding: 12px 30px;
    }
}

/* Mobile screen 430px */
@media screen and (min-width: 430px){
    /* General */
    body {
        background-image: none;
    }
    
    p {
        font-size: 12px;
    }

    ul{
        font-size: 12px;
    }

    h1 {
        font-size: 150px;
        margin: 0 20px;
    }

    .normal_h1{
        font-size: 52px;
        margin: -70px 20px 0 20px;
    }

    h2 {
        font-size: 32px;
        display: block;
        width: 470px;
    }
    
    h3 {
        font-size: 20px;
        width: 470px;
        display: inline;
    }

    /* Menu */
    header {
        margin-top: 0px;
        background-color: #23120B;
    }

    header div {
        max-width: 100%;
        margin: 0;
        padding: 0;
        background: none;
        text-align: center;
    }

    header div nav{
        text-align: center;
    }

    nav ul li {
        display: inline;
        padding-bottom: 10px;
    }

    nav ul li a {
        font-size: 12px;
        padding: 7px;
        margin: 0;
        color: #F1F1F1;
    } 

    nav ul li a:hover {
        color: #FDB827;
    } 

    #button_header{
        font-size: 12px;
        border-radius: 0;
        color:#F1F1F1;
        padding: 5px;
        margin: 0;
        background: none;
    }

    #button_header:hover{
        color: #FDB827;
        background: none;
    }

    /* Introduction */
    main#homepage div.square img{
        width: 94%;
        margin: 0 20px 10px 20px;
    }

    main#homepage div.square.paragraph{
        width: 420px;
        height: 215px;
        margin: 0 20px;
        padding-bottom: 0;
    }

    main#homepage div.square.paragraph a{
        font-size: 14px;
        padding: 10px 110px;
    }

    /* Testimonials */
    main#homepage section.testimonials{
        margin: 50px 20px 0 20px;
    }

    main#homepage div.testimonial{
        display: block;
        width: 435px;
    }

    main#homepage div.testimonial.second{
        padding-left: 0;
    }

    .testimonials p{
        width: 470px;
    }

    /* Projets */
    section.projects.first_row{
        margin: 50px 20px 0 20px;
        width: 470px;
    }

    article.card img{
        width: 100%;
    }

    article.card{
        display: inline-block;
        width: 430px;
        margin-bottom: 15px;
    }

    section.projects.second_row{
        margin: 0px 20px;
        width: 470px;
    }

    section.projects.third_row{
        margin: 50px 20px 0 20px;
        width: 470px;
    }

    section.projects.fourth_row{
        margin: 0px 20px;
        width: 470px;
    }

    section.projects.fifth_row{
        margin: 50px 20px 0 20px;
        width: 470px;
    }

    /* About me */
    section.about_me{
        margin: 50px 20px 0 20px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 470px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 50px;
        margin-left: 20px;
        padding: 0;
    }

    .informations {
        max-width: 400px
    }

    .informations img{
        display: none;
    }

    /* Footer */
    footer{
        width: 100%;
        margin-top: -150px;      
    }

    /* personal_projet */
    #work{
        margin-top: 100px;
    }

    section.personal_projet{
        width: 100%;
        margin: 0 20px 0 20px;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    .bouton{
        font-size: 13px;
        padding: 12px 30px;
    }
}

/* Mobile screen 640px */
@media screen and (min-width: 640px){
    /* General */
    body {
        background-image: none;
    }

    main{
        margin: 90px auto 100px;
    }
    
    p {
        font-size: 12px;
    }

    ul{
        font-size: 12px;
    }

    h1 {
        font-size: 150px;
        margin: 0 20px;
    }

    .normal_h1{
        font-size: 52px;
        margin: -75px 20px 0 20px;
    }

    h2 {
        font-size: 32px;
        display: block;
        width: 470px;
    }
    
    h3 {
        font-size: 20px;
        width: 470px;
        display: inline;
    }

    /* Menu */
    header {
        margin-top: 0px;
        background: none;
    }

    header div {
        max-width: 620px;
        margin: 0;
        padding: 0;
        background: none;
        float: right;
    }

    header div nav{
        text-align: right;
    }

    nav ul li {
        display: block;
        padding-bottom: 10px;
    }

    nav ul li a {
        font-size: 15px;
        padding: 5px;
        margin: 0;
        color: #23120B;
    } 

    nav ul li a:hover {
        color: #21209C;
    } 

    #button_header{
        font-size: 15px;
        border-radius: 0;
        color:#23120B;
        padding: 5px;
        margin: 0;
        background: none;
    }

    #button_header:hover{
        color: #21209C ;
        background: none;
    }

    /* Introduction */
    main#homepage div.square img{
        width: 94%;
        margin: 0 20px 10px 20px;
    }

    main#homepage div.square.paragraph{
        width: 420px;
        height: 215px;
        margin: 0 20px;
        padding-bottom: 0;
    }

    main#homepage div.square.paragraph a{
        font-size: 14px;
        padding: 10px 110px;
    }

    /* Testimonials */
    main#homepage section.testimonials{
        margin: 50px 20px 0 20px;
    }

    main#homepage div.testimonial{
        display: block;
        width: 435px;
    }

    main#homepage div.testimonial.second{
        padding-left: 0;
    }

    .testimonials p{
        width: 470px;
    }

    /* Projets */
    section.projects.first_row{
        margin: 50px 20px 0 20px;
        width: 470px;
    }

    article.card img{
        width: 100%;
    }

    article.card{
        display: inline-block;
        width: 430px;
        margin-bottom: 15px;
    }

    section.projects.second_row{
        margin: 0px 20px;
        width: 470px;
    }

    section.projects.third_row{
        margin: 50px 20px 0 20px;
        width: 470px;
    }

    section.projects.fourth_row{
        margin: 0px 20px;
        width: 470px;
    }

    section.projects.fifth_row{
        margin: 50px 20px 0 20px;
        width: 470px;
    }


    /* About me */
    section.about_me{
        margin: 50px 20px 0 20px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 470px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 50px;
        margin-left: 20px;
        padding: 0;
    }

    .informations {
        max-width: 400px
    }

    .informations img{
        display: none;
    }

    /* Footer */
    footer{
        width: 100%;
        margin-top: -150px;      
    }

    /* personal_projet */
    #work{
        margin-top: 25px;
    }

    section.personal_projet{
        width: 470px;
        margin: 0px 20px 0 20px;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    .bouton{
        font-size: 13px;
        padding: 12px 30px;
    }
}

/* Mobile screen 768px */
@media screen and (min-width: 768px){
    /* General */
    body {
        background-image: none;
    }

    main{
        margin: 90px auto 100px;
    }
    
    p {
        font-size: 12px;
    }

    ul{
        font-size: 12px;
    }

    h1 {
        font-size: 150px;
        margin: 0 40px;
    }

    .normal_h1{
        font-size: 52px;
        margin: -75px 20px 0 40px;
    }

    h2 {
        font-size: 32px;
        display: block;
        width: 470px;
    }
    
    h3 {
        font-size: 20px;
        width: 470px;
        display: inline;
    }

    /* Menu */
    header {
        margin-top: 0px;
        background: none;
    }

    header div {
        max-width: 730px;
        margin: 0;
        padding: 0;
        background: none;
        float: right;
    }

    header div nav{
        text-align: right;
    }

    nav ul li {
        display: block;
        padding-bottom: 10px;
    }

    nav ul li a {
        font-size: 17px;
        padding: 5px;
        margin: 0;
        color: #23120B;
    } 

    nav ul li a:hover {
        color: #21209C;
    } 

    #button_header{
        font-size: 17px;
        border-radius: 0;
        color:#23120B;
        padding: 5px;
        margin: 0;
        background: none;
    }

    #button_header:hover{
        color: #21209C ;
        background: none;
    }

    /* Introduction */
    main#homepage div.square img{
        width: 100%;
        margin: 0 20px 10px 40px;
    }

    main#homepage div.square.paragraph{
        width: 450px;
        height: 215px;
        margin: 0 40px;
        padding-bottom: 0;
    }

    main#homepage div.square.paragraph a{
        font-size: 14px;
        padding: 10px 125px;
    }

    /* Testimonials */
    main#homepage section.testimonials{
        margin: 50px 20px 0 40px;
    }

    main#homepage div.testimonial{
        display: block;
        width: 500px;
        margin-bottom: 50px;
    }

    main#homepage div.testimonial.second{
        padding-left: 0;
    }

    .testimonials p{
        width: 470px;
    }

    /* Projets */
    section.projects.first_row{
        margin: 50px 20px 0 40px;
        width: 500px;
    }

    article.card img{
        width: 100%;
    }

    article.card{
        display: inline-block;
        width: 460px;
        margin-bottom: 15px;
    }

    section.projects.second_row{
        margin: 0px 20px 0 40px;
        width: 500px;
    }

    section.projects.third_row{
        margin: 50px 20px 0 40px;
        width: 500px;
    }

    section.projects.fourth_row{
        margin: 0px 20px 0 40px;
        width: 500px;
    }

    section.projects.fifth_row{
        margin: 50px 20px 0 40px;
        width: 500px;
    }

    /* About me */
    section.about_me{
        margin: 50px 20px 0 40px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 500px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 50px;
        margin-left: 40px;
        padding: 0;
    }

    .informations {
        max-width: 400px
    }

    .informations img{
        display: none;
    }

    /* Footer */
    footer{
        width: 100%;
        margin-top: -150px;      
    }

    /* personal_projet */
    #work{
        margin-top: 25px;
    }

    section.personal_projet{
        width: 500px;
        margin: 0px 20px 0 40px;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    .bouton{
        font-size: 14px;
        padding: 15px 40px;
    }
}

/* Tablet screen 1024px */
@media screen and (min-width: 1024px){
    /* General */
    body{
        background-image: url(../icons/main_grid.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 850px;
    }
    
    h1{
        font-size: 300px;
        max-width: 1024px;
    }

    h3{
        display: inline;
    }

    .normal_h1{
        font-size: 52px;
        margin: 0 40px -30px 40px;
    }

    ul {
        font-size: 12px;
    }
    
    /* Menu */
    header div{
        max-width: 750px;
        margin: auto;
        background-color: #23120B;
        margin-top: 20px;
        padding: 20px 0;
        float: none;
    }
    
    header div nav{
        text-align: center;
    }
    
    nav ul{
        list-style-type: none;
        padding-top: 8px;
    }
    nav ul li{
        display: inline-block;
    }
    
    nav ul li a{
        text-decoration: none;
        color: #F1F1F1;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        padding: 20px;
    }
    
    nav ul li a:hover {
        color: #FDB827;
    }
    
    #button_header{
        border-radius: 10px;
        background-color: #FDB827;
        color: #23120B;
        padding: 8px 20px;
        margin-left: 0.5em;
        margin-right: 12px;
        font-size: 20px;
        text-align: center;
    }
    
    #button_header:hover{
        background-color: #F1F1F1;
        color: #21209C;
    }
    
    /* Body */
    main{
        max-width: 1024px;
        margin: 250px auto 100px;
    }
    
    #main_homepage{
        max-width: 100%;
    }
    
    /* Introduction */
    main#homepage div.square.image{
        width: 45%;
    }
    
    main#homepage div.square.paragraph{
        padding: 10px 25px;
        margin-left: 7px;
        width: 30%;
        height: 215px;
        color: #F1F1F1;
        background-color: #23120B;
        border-radius: 15px;
        margin-top: 120px;
        padding-bottom: 20px;
        text-align: left;
    }
    
    main#homepage div.square.paragraph a{
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        padding: 12px 40px;
        border-radius: 10px;
    }
    
    main#homepage div.square.paragraph a:hover{
        color: #21209C;
        background-color: #F1F1F1;
    }
    
    /* Testimonials */
    .testimonials p{
        max-width: 250px;
    }

    main#homepage section.testimonials{
        margin-top: 100px;
    }
    
    main#homepage div.testimonial{
        display: inline-block;
        vertical-align: top;
        width: 200px;
    }
    
    main#homepage div.testimonial.second{
        padding: 0 80px;
    }
    
    /* Projets */
    section.projects.first_row{
        margin-top: 70px;
        width: 945px;
    }
    
    section.projects.second_row{
        margin-top: -10px;
        width: 945px;
    }
    
    #h2_projects{
        margin-bottom: 20px;
        width: 800px;
    }
    
    article.card{
        display: inline-block;
        background-color: #21209C;
        color: #F1F1F1;
        width: 272px;
        padding: 0 20px 20px 20px;
        border-radius: 15px;
        vertical-align: top;
    }
    
    article.card p{
        color: #F1F1F1;
    }
    
    article.card img{
        width: 100%;
    }
    
    article.card a{
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        padding: 12px 93px;
        border-radius: 10px;
        display: block;
        line-height: normal;
    }
    
    article.card a:hover{
        color: #21209C;
        background-color: #F1F1F1;
    }
    
    section.projects.third_row{
        margin-top: 100px;
        width: 945px;
    }

    section.projects.fourth_row{
        margin-top: -10px;
        width: 945px;
    }

    section.projects.fifth_row{
        margin-top: 100px;
        width: 945px;
    }
    
    /* About me */
    section.about_me{
        margin-top: 100px;
    }
    
    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 450px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 100px;
    }
    
    div.informations{
        display: inline-block;
        width: 510px;
        vertical-align: top;
    }
    
    .informations img{
        width: 500px;
        margin: auto;
        display: block;
    }
    
    /* Footer */
    footer{
        background-color: #21209C;
        color: #F1F1F1;
        align-items: center; 
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
    
    div.top {
        max-width: 1024px;
        margin: 200px auto 50px;
        padding-top: 50px;
        text-align: center;
    }
    
    div.top a{
        margin-left: 10px;
    }
    
    .designer p{
        margin: 20px 0 0 5px;
    }
    
    .white_line{
        border-top: 2px solid #F1F1F1;
    }
    
    div.bottom {
        max-width: 1024px;
        margin: 200px auto 100px;
        margin-top: 50px;
        padding-bottom: 50px;
        text-align: center;
    }
    
    div.bottom a{
        text-decoration: none;
        color:#F1F1F1
    }

    /* personal_projet */
    #work{
        margin-top: 200px;
    }

    section.personal_projet{
        width: 945px;
        margin: auto;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    .bouton{
        font-size: 16px;
        padding: 15px 40px;
    }
}

/* PC screen 1280px */
@media screen and (min-width: 1280px){
    /* General */
    h1{
        font-size: 305px;
    }

    .normal_h1{
        font-size: 92px;
    }
    
    h2{
        font-size: 55px;
    }
    
    h3{
        font-size: 22px;
        display: inline;
    }
    
    p {
        font-size: 16px;
    }

    ul {
        font-size: 16px;
    }
    
    body{
        background-image: url(../icons/main_grid.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 650px;
    }

    /* Menu */
    header div{
        float: none;
    }

    /* Introduction */
    main#homepage div.square{
        display: inline-block;
        vertical-align: top;
    }
    
    main#homepage div.square.image{
        width: 55%;
    }
    
    main#homepage div.square.paragraph{
        padding: 10px 25px;
        margin-left: 7px;
        width: 350px;
        height: 300px;
        color: #F1F1F1;
        background-color: #23120B;
        border-radius: 15px;
        margin-top: 100px;
        padding-bottom: 20px;
        text-align: left;
    }

    main#homepage div.square.paragraph a{
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        padding: 12px 62px;
        border-radius: 10px;
    }

    /* Testimonials */
    .testimonials h2{
        width: 900px;
    }

    main#homepage section.testimonials{
        margin-top: 100px;
    }

    main#homepage div.testimonial{
        display: inline-block;
        vertical-align: top;
        width: 230px;
    }

    main#homepage div.testimonial.second{
        padding: 0 51px;
    }

    .testimonials p{
        max-width: 250px;
    }

    /* Projets */
    section.projects.first_row{
        margin-top: 70px;
    }

    #h2_projects{
        width: 1000px;
    }

    article.card img{
        width: 100%;
    }

    /* About me*/
    section.about_me{
        margin-top: 100px;
    }
    
    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 480px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding: 20px;
        display: block;
    }
    
    .personality .one{
        width: 190px;
    }
    
    .personality .two{
        width: 150px;
    }
    
    .personality .three{
        width: 150px;
    }
    
    .personality .four{
        width: 200px;
    }
    
    .personality .five{
        width: 150px;
    }

    /* personal_projet */
    #work{
        margin-top: 200px;
    }
    
    section.personal_projet{
        width: 945px;
        margin: auto;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    .bouton{
        font-size: 16px;
        padding: 15px 40px;
    }
}

/* PC screen 1536px */
@media screen and (min-width: 1536px){
    /* General */
    h1{
        font-size: 305px;
    }
    
    h2{
        font-size: 55px;
    }
    
    h3{
        font-size: 22px;
        display: inline;
    }
    
    p {
        font-size: 16px;
    }

    ul {
        font-size: 16px;
    }

    body{
        background-image: url(../icons/main_grid.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
    }

    /* Menu */
    header div{
        float: none;
    }

    /* Introduction */
    main#homepage div.square.image{
        width: 50%;
    }
    
    main#homepage div.square.paragraph{
        padding: 10px 25px;
        margin-left: 0px;
        width: 411px;
        height: 270px;
        color: #F1F1F1;
        background-color: #23120B;
        border-radius: 15px;
        margin-top: 100px;
        text-align: left;
    }

    main#homepage div.square.paragraph a{
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 16px;
        padding: 12px 92px;
        border-radius: 10px;
    }

    .testimonials h2{
        width: 900px;
    }

    /* Testimonials */
    main#homepage section.testimonials{
        margin-top: 100px;
        width: 1000px;
    }
    
    main#homepage div.testimonial{
        display: inline-block;
        vertical-align: top;
        width: 300px;
    }
    
    main#homepage div.testimonial.second{
        padding-left: 0px;
    }

    /* Projets */
    #h2_projects{
        width: 1000px;
    }

    article.card img{
        width: 100%;
    }

    /* About me */
    section.about_me{
        margin-top: 100px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 480px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding: 20px;
        display: block;
    }
    
    .personality .one{
        width: 190px;
    }
    
    .personality .two{
        width: 150px;
    }
    
    .personality .three{
        width: 150px;
    }
    
    .personality .four{
        width: 200px;
    }
    
    .personality .five{
        width: 150px;
    }

    /* personal_projet */
    #work{
        margin-top: 200px;
    }

    section.personal_projet{
        width: 945px;
        margin: auto;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    .bouton{
        font-size: 16px;
        padding: 15px 40px;
    }
}