/* GENERAL */
body{
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    color: #23120B;
    margin: 0 auto;
    padding: 0;
    background-color: #F1F1F1;
    background-image: url(../icons/main_grid.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}

h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: #21209C;
}

.normal_h1{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: #21209C;
}

h2{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: #23120B;
    margin: 5px 0 5px 0;
}

h3{
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    color: #23120B;
    margin: 5px 0 5px 0; 
}

.blue_text{
    color: #21209C;
}

::selection {
    background-color: #FDB827;
    color: #23120B;
    -webkit-text-fill-color: #23120B;
}

::-moz-selection {
    background-color: #FDB827;
    color: #23120B;
    -webkit-text-fill-color: #23120B;
}

::-webkit-selection {
    background-color: #FDB827;
    color: #23120B;
    -webkit-text-fill-color: #23120B;
}

/* Header */
header{
    padding: 10px;
    z-index: 100%;
    top: 0;
    left: 0;
    right: 0;
}

nav ul{
    list-style-type: none;
    padding: 0;
}

nav ul li a{
    text-decoration: none;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
}

/* Body */
main{
    max-width: 1024px;
    margin: 200px auto 100px;
}

#main_homepage{
    max-width: 100%;
}

/* PAGE INDEX */
/* Introduction */
main img{
    border-radius: 15px;
}

main#homepage div.square{
    display: inline-block;
    vertical-align: top;
    width: 500px;
}

/* Projets */
#h2_projects{
    margin-bottom: 20px;
}

article.card{
    display: inline-block;
    background-color: #21209C;
    color: #F1F1F1;
    padding: 0 20px 20px 20px;
    border-radius: 15px;
    vertical-align: top;
}

article.card p{
    color: #F1F1F1;
}

article.card img{
    width: 100%;
}

article.card a{
    background-color: #FDB827;
    text-decoration: none;
    color: #23120B;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    padding: 12px 93px;
    border-radius: 10px;
    display: block;
    line-height: normal;
}

article.card a:hover{
    color: #21209C;
    background-color: #F1F1F1;
}

/* Contact */
.informations{
    display: inline-block;
    vertical-align: top;
}

.informations img{
    width: 100%;
    margin: auto;
}

/* Footer */
footer{
    background-color: #21209C;
    color: #F1F1F1;
    align-items: center; 
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

div.top {
    max-width: 1024px;
    margin: 200px auto 50px;
    padding-top: 50px;
    text-align: center;
}

div.top a{
    margin-left: 10px;
}

.designer p{
    margin: 20px 0 0 5px;
}

.white_line{
    border-top: 2px solid #F1F1F1;
}

div.bottom {
    max-width: 1024px;
    margin: 200px auto 100px;
    margin-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

div.bottom a{
    text-decoration: none;
    color:#F1F1F1
}

/* Projet spécifique à un projet */
#work article{
    padding-top: 15px;
}

.bouton{
    background-color: #FDB827;
    text-decoration: none;
    color: #23120B;
    font-family: "Alfa Slab One", serif;
    font-weight: 400;
    font-style: normal;
    border-radius: 10px;
}

.bouton:hover{
    color: #F1F1F1;
    background-color: #21209C;
}

.image_connexion div{
    display: inline-block;
}

.image_accueil div{
    display: inline-block;
}

.image_tache div{
    display: inline-block;
    vertical-align: top;
}

.wireframes div img{
    vertical-align: top;
}

.prototype div img{
    vertical-align: top;
}

.protopersonas img{
    width: 100%;
}

.personas img{
    width: 100%;
}

.user_needs img{
    width: 100%;
}

.user_flow img{
    width: 100%;
}

.journey_map img{
    width: 100%;
}

.kitui img{
    width: 100%;
}

article.survey img{
    width: 100%;
}

.wireframes, .prototype{
    width: 110%;
}

video{
    width: 100%;
}

/* My Hobby */
.documentation img{
    width: 100%;
}

.questionnement img{
    width: 100%;
    vertical-align: top;
    display: inline-block;
}

.wireframes img{
    vertical-align: top;
    padding-bottom: 10px;
}

.prototype img{
    vertical-align: top;
    padding-bottom: 10px;
}

.kit_UI img{
    width: 105%;
}

/* Stage Facile */
.wireframes_stagefacile img{
    width: 100%;
}

.prototype_stagefacile img{
    width: 100%;
}

.logo_stagefacile{
    width: 20%;
}

.kitui_stagefacile{
    width: 30%;
}

/* RESPONSIVE */

/* Mobile screen 375px */
@media screen and (min-width: 375px){
    /* GENERAL */
    body {
        background-image: none;
    }

    h1 {
        font-size: 100px;
        margin: 0 20px;
        width: 90%;
    }

    .normal_h1{
        font-size: 52px;
        margin: -150px 20px 0 20px;
        padding-top: 0px;
    }

    h2 {
        font-size: 20px;
        display: block;
        width: 100%;
    }
    
    h3 {
        font-size: 15px;
        width: 100%;
        display: inline;
    }

    p {
        font-size: 12px;
        width: 100%;
    }

    ul{
        font-size: 12px;
    }

    /* Menu */
    header {
        margin: 0px;
        background-color: #23120B;
        width: 94%;
        position: relative;
    }

    header div {
        width: 100%;
        margin: 0;
        padding: 0;
        background: none;
        z-index: 100%;
    }

    header div nav{
        text-align: center;
    }

    nav ul li {
        display: block;
        padding-bottom: 20px;
    }
    
    nav ul li a {
        font-size: 12px;
        padding: 2px;
        margin: 0;
        color: #F1F1F1;
    } 

    nav ul li a:hover {
        color: #FDB827;
    } 

    #button_header{
        font-size: 12px;
        border-radius: 0;
        color:#F1F1F1;
        padding: 5px;
        margin: 0;
        background: none;
        text-align: center;
    }

    #button_header:hover{
        color: #FDB827;
        background: none;
    }

    /* Introduction */
    .introduction {
        margin-top: -170px;
    }

    main#homepage div.square img{
        width: 89%;
        margin: 0 20px 10px 20px;
    }

    main#homepage div.square.image{
        width: 100%;
    }

    main#homepage div.square.paragraph{
        width: 89%;
        height: 215px;
        margin: 0 20px;
        padding: 0;
        color: #23120B;
        background: none;
    }

    main#homepage div.square.paragraph br{
        display: none;
    }

    main#homepage div.square.paragraph a{
        font-size: 14px;
        padding: 10px 0;
        display: block;
        margin: 0px;
        text-align: center;
        text-align: center;
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 10px;
    }

    main#homepage div.square.paragraph a:hover{
        color: #F1F1F1;
        background: #21209C;
    }

    /* Testimonials */
    .testimonials p{
        width: 100%;
    }

    main#homepage section.testimonials{
        margin: -10px 20px 0px 20px;
    }

    main#homepage div.container{
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }
    
    /* My projets */
    #h2_projects{
        font-size: 20px;
        display: block;
        width: 100%;
    }

    article.card{
        width: 100%;
        margin-bottom: 15px;
    }

    section.projects.first_row{
        margin: 50px 20px 0 20px;
        width: 79%;
    }

    section.projects.second_row{
        margin: 0px 20px;
        width: 79%;
    }

    section.projects.third_row{
        margin: 50px 20px 0 20px;
        width: 79%;
    }

    section.projects.fourth_row{
        margin: 0px 20px;
        width: 79%;
    }

    section.projects.fifth_row{
        margin: 50px 20px 0 20px;
        width: 79%;
    }

    /* About me */
    section.about_me{
        margin: 50px 20px 0 20px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 50px;
        margin-left: 20px;
        padding: 0;
    }

    .informations{
        width: 100%;
    }

    .informations.a{
        width: 100%;
    }

    .informations.b{
        width: 100%;
    }

    .informations img{
        display: none;
    }

    /* Footer */
    footer{
        width: 100%;
        margin-top: -150px;      
    }
    
    .white_line{
        width: 100%;
    }

    /* Projet spécifique */
    #work{
        margin-top: 50px;
    }

    .bouton{
        font-size: 13px;
        padding: 12px 30px;
    }

    section.personal_projet{
        width: 85%;
        margin: 0px 0px 0px 20px;
    }

    section.personal_projet a{
        display: block;
        margin-top: 10px;
        text-align: center;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    /* PAGE BLOSSOM */
    .uclgo{
        margin: 0 0 0 35px;
        display: block;
    }

    /* PAGE MY HOBBY */
    .logo_myhobby{
        width: 25%;
    }

    /* PAGE UBUYBOOKS */
    .logo_ubuybooks{
        width: 50%;
    }

    .screenshots_ubuybooks img{
        width: 25%;
        vertical-align: top;
    }

    /* PROJET TALULA */
    .project_talula img {
        display: block;
        margin-left: 20px;
        width: 92%;
    }

    /* PHOTOSHOP & ILLUSTRATOR */
    .project_graphic_design{
        width: 97%;
    }
    
    .text_graphic_design{
        width: 90%;
        margin: 0 20px;
    }

    .image_graphic_design img{
        width: 90%;
        margin: 0 20px;
        border-radius: 0px;
    }

    .image_graphic_design p{
        margin: 0 20px;
    }

    /* PAGE CONTACT */
    .personal_information{
        text-align: center;
        margin-top: 0px;
    }

    #pagecontact{
        margin-top: 90px;
    }
}

/* Mobile screen 430px */
@media screen and (min-width: 430px){
    /* General */
    body {
        background-image: none;
    }

    h1 {
        font-size: 120px;
        margin: 0 20px;
        width: 90%;
    }

    .normal_h1{
        font-size: 52px;
        margin: -150px 20px 0 20px;
        padding-top: 0px;
    }

    h2 {
        font-size: 20px;
        display: block;
        width: 100%;
    }
    
    h3 {
        font-size: 15px;
        width: 470px;
        display: inline;
    }

    p {
        font-size: 12px;
    }

    ul{
        font-size: 12px;
    }

    /* Menu */
    header {
        margin: 0px;
        background-color: #23120B;
        width: 94%;
        position: relative;
    }

    header div {
        width: 100%;
        margin: 0;
        padding: 0;
        background: none;
        text-align: center;
        z-index: 100%;
    }

    header div nav{
        text-align: center;
    }

    nav ul li {
        display: block;
        padding-bottom: 20px;
    }

    nav ul li a {
        font-size: 12px;
        padding: 7px;
        margin: 0;
        color: #F1F1F1;
    } 

    nav ul li a:hover {
        color: #FDB827;
    } 

    #button_header{
        font-size: 12px;
        border-radius: 0;
        color:#F1F1F1;
        padding: 5px;
        margin: 0;
        background: none;
        text-align: center;
    }

    #button_header:hover{
        color: #FDB827;
        background: none;
    }

    /* Introduction */
    .introduction {
        margin-top: -170px;
    }

    main#homepage div.square img{
        width: 90%;
        margin: 0px 20px 10px 20px;
    }

    main#homepage div.square.paragraph{
        width: 90%;
        height: 215px;
        margin: 0 20px;
        padding: 0;
        color: #23120B;
        background: none;
    }

    main#homepage div.square.paragraph a{
        font-size: 14px;
        padding: 10px 0;
        display: block;
        margin: 0px;
        text-align: center;
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 10px;
    }

    main#homepage div.square.paragraph a:hover{
        color: #F1F1F1;
        background: #21209C;
    }

    main#homepage div.square.paragraph br{
        display: none;
    }

    /* Testimonials */
    .testimonials p{
        width: 100%;
    }

    main#homepage section.testimonials{
        margin: -10px 20px 0px 20px;
    }

    main#homepage div.container{
        display: block;
        width: 100%;
        padding-bottom: 10px;
    }

    /* My projets */
    #h2_projects{
        font-size: 20px;
        display: block;
    }

    article.card{
        margin-bottom: 15px;
    }

    section.projects.first_row{
        margin: 50px 20px 0 20px;
        width: 82%;
    }

    section.projects.second_row{
        margin: 0px 20px;
        width: 82%;
    }

    section.projects.third_row{
        margin: 50px 20px 0 20px;
        width: 82%;
    }

    section.projects.fourth_row{
        margin: 0px 20px;
        width: 82%;
    }

    section.projects.fifth_row{
        margin: 50px 20px 0 20px;
        width: 82%;
    }

    /* About me */
    section.about_me{
        margin: 50px 20px 0 20px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 100%;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 50px;
        margin-left: 20px;
        padding: 0;
    }

    .informations {
        width: 100%;
    }

    .informations img{
        display: none;
    }

    /* Footer */
    footer{
        width: 100%;
        margin-top: -150px;      
    }

    /* Projet spécifique */
    #work{
        margin-top: 60px;
    }

    .bouton{
        font-size: 13px;
        padding: 12px 30px;
    }

    section.personal_projet{
        width: 86%;
        margin: 0 20px 0 20px;
    }

    section.personal_projet a{
        display: block;
        margin-top: 10px;
        text-align: center;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    /* PAGE BLOSSOM */
    .uclgo{
        margin: 0 0 0 70px;
        display: block;
    }

    /* PAGE MY HOBBY */
    .logo_myhobby {
        width: 25%;
    }

    /* PAGE UBUYBOOKS */
    .logo_ubuybooks{
        width: 30%;
    }

    .screenshots_ubuybooks img{
        width: 25%;
        vertical-align: top;
    }

    /* PROJET TALULA */
    .project_talula img {
        display: block;
        margin-left: 20px;
        width: 92%;
    }

    /* PHOTOSHOP & ILLUSTRATOR */
    .text_graphic_design{
        width: 93%;
        margin:  0 20px;
    }

    .image_graphic_design img{
        width: 93%;
        margin: 0 20px;
        border-radius: 0px;
    }

    .image_graphic_design p{
        margin: 0 20px;
    }

    /* PAGE CONTACT */
    .personal_information{
        text-align: center;
        margin-top: 0px;
    }

    #pagecontact{
        margin-top: 90px;
    } 
}

/* Mobile screen 640px */
@media screen and (min-width: 640px){
    /* General */
    body {
        background-image: none;
    }

    main{
        margin: 90px auto 100px;
    }

    h1 {
        font-size: 150px;
        margin: 0 20px;
    }

    .normal_h1{
        font-size: 52px;
        margin: -75px 20px 0 20px;
        padding-top: 0px;
    }

    h2 {
        font-size: 32px;
        display: block;
        width: 100%;
    }
    
    h3 {
        font-size: 20px;
        width: 470px;
        display: inline;
    }

    p {
        font-size: 12px;
    }

    ul{
        font-size: 12px;
    }

    /* Menu */
    header {
        margin-top: 0px;
        background: none;
        position: fixed;
    }

    header div {
        width: 620px;
        margin: 0;
        padding: 0;
        background: none;
        float: right;
        z-index: 100%;
    }

    header div nav{
        text-align: right;
    }

    nav ul li {
        display: block;
        padding-bottom: 10px;
    }

    nav ul li a {
        font-size: 15px;
        padding: 5px;
        margin: 0;
        color: #23120B;
    } 

    nav ul li a:hover {
        color: #21209C;
    } 

    #button_header{
        font-size: 15px;
        border-radius: 0;
        color:#23120B;
        padding: 5px;
        margin: 0;
        background: none;
        text-align: center;
    }

    #button_header:hover{
        color: #21209C ;
        background: none;
    }

    /* Introduction */
    .introduction {
        margin-top: -100px;
    }

    main#homepage div.square img{
        width: 73%;
        margin: 0 20px 10px 20px;
    }

    main#homepage div.square.paragraph{
        width: 73%;
        height: 215px;
        margin: 0 20px;
        padding: 0;
        color: #23120B;
        background: none;
    }

    main#homepage div.square.paragraph a{
        font-size: 14px;
        padding: 10px 0px;
        display: block;
        text-align: center;
        margin: 0px;
        text-align: center;
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 10px;
    }

    main#homepage div.square.paragraph a:hover{
        color: #F1F1F1;
        background: #21209C;
    }

    main#homepage div.square.paragraph br{
        display: none;
    }

    /* Testimonials */
    .testimonials p{
        width: 75%;
    }

    main#homepage section.testimonials{
        margin: -10px 20px 0px 20px;
    }

    main#homepage .container{
        display: block;
        width: 75%;
        padding-bottom: 10px;
    }

    /* My projets */
    #h2_projects{
        font-size: 32px;
        display: block;
    }

    article.card{
        margin-bottom: 15px;
    }

    section.projects.first_row{
        margin: 50px 20px 0 20px;
        width: 68%;
    }

    section.projects.second_row{
        margin: 0px 20px;
        width: 68%;
    }

    section.projects.third_row{
        margin: 50px 20px 0 20px;
        width: 68%;
    }

    section.projects.fourth_row{
        margin: 0px 20px;
        width: 68%;
    }

    section.projects.fifth_row{
        margin: 50px 20px 0 20px;
        width: 68%;
    }

    /* About me */
    section.about_me{
        margin: 50px 20px 0 20px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 470px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 50px;
        margin-left: 20px;
        padding: 0;
    }

    .informations {
        width: 400px;
    }

    .informations img{
        display: none;
    }

    /* Footer */
    footer{
        width: 100%;
        margin-top: -150px;      
    }

    /* Projet spécifique */
    #work{
        margin-top: 25px;
    }

    .bouton{
        font-size: 13px;
        padding: 12px 30px;
    }

    section.personal_projet{
        width: 470px;
        margin: 0px 20px 0 20px;
    }

    section.personal_projet a{
        display: block;
        margin-top: 10px;
        text-align: center;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    /* PAGE BLOSSOM */
    .uclgo{
        margin: 0px;
        display: block;
    }

    /* PAGE MY HOBBY */
    .logo_myhobby {
        width: 15%;
    }

    /* PAGE UBUYBOOKS */
    .logo_ubuybooks{
        width: 30%;
    }

    .screenshots_ubuybooks img{
        width: 25%;
        vertical-align: top;
    }

    /* PROJET TALULA */
    .project_talula img {
        display: block;
        margin-left: 50px;
        width: 70%;
    }

    /* PHOTOSHOP & ILLUSTRATOR */
    .text_graphic_design{
        width: 70%;
        margin:  0 20px;
    }

    .image_graphic_design img{
        width: 70%;
        margin: 0 20px;
        border-radius: 0px;
    }

    .image_graphic_design p{
        margin: 0 20px;
    }

    /* PAGE CONTACT */
    .personal_information{
        text-align: center;
    }

    #pagecontact{
        margin-top: 200px;
    } 
}

/* Mobile screen 768px */
@media screen and (min-width: 768px){
    /* General */
    body {
        background-image: none;
    }

    main{
        margin: 90px auto 100px;
    }

    h1 {
        font-size: 150px;
        margin: 0 40px;
    }

    .normal_h1{
        font-size: 52px;
        margin: -75px 20px 0 40px;
        padding-top: 0px;
    }

    h2 {
        font-size: 32px;
        display: block;
        width: 100%;
    }
    
    h3 {
        font-size: 20px;
        width: 470px;
        display: inline;
    }

    p {
        font-size: 12px;
    }

    ul{
        font-size: 12px;
    }

    /* Menu */
    header {
        margin-top: 0px;
        background: none;
        position: fixed;
    }

    header div {
        max-width: 730px;
        margin: 0;
        padding: 0;
        background: none;
        float: right;
        z-index: 100%;
    }

    header div nav{
        text-align: right;
    }

    nav ul li {
        display: block;
        padding-bottom: 10px;
    }

    nav ul li a {
        font-size: 17px;
        padding: 5px;
        margin: 0;
        color: #23120B;
    } 

    nav ul li a:hover {
        color: #21209C;
        background-color: #F1F1F1;
    } 

    #button_header{
        font-size: 17px;
        border-radius: 0;
        color:#23120B;
        padding: 5px;
        margin: 0;
        background: none;
        text-align: center;
    }

    #button_header:hover{
        color: #21209C ;
        background: none;
    }

    /* Introduction */
    .introduction {
        margin-top: -100px;
    }

    main#homepage div.square img{
        width: 70%;
        margin: 0 20px 10px 40px;
    }

    main#homepage div.square.paragraph{
        width: 70%;
        height: 215px;
        margin: 0 40px;
        padding: 0;
        color: #23120B;
        background: none;
    }

    main#homepage div.square.paragraph a{
        font-size: 14px;
        padding: 10px 0px;
        display: block;
        margin: 0px;
        text-align: center;
        text-align: center;
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 10px;
    }

    main#homepage div.square.paragraph a:hover{
        color: #F1F1F1;
        background: #21209C;
    }

    main#homepage div.square.paragraph br{
        display: none;
    }

    /* Testimonials */
    .testimonials p{
        width: 70%;
    }

    main#homepage section.testimonials{
        margin: -50px 20px 0 40px;
    }

    main#homepage .container{
        display: block;
        width: 70%;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    /* My projets */
    #h2_projects{
        font-size: 32px;
        display: block;
    }

    article.card{
        width: 81%;
        margin-bottom: 15px;
    }

    section.projects.first_row{
        margin: 50px 20px 0 40px;
        width: 80%;
    }

    section.projects.second_row{
        margin: 0px 20px 0 40px;
        width: 80%;
    }

    section.projects.third_row{
        margin: 50px 20px 0 40px;
        width: 80%;
    }

    section.projects.fourth_row{
        margin: 0px 20px 0 40px;
        width: 80%;
    }

    section.projects.fifth_row{
        margin: 50px 20px 0 40px;
        width: 80%;
    }

    /* About me */
    section.about_me{
        margin: 50px 20px 0 40px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 500px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 20px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 13px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 50px;
        margin-left: 40px;
        padding: 0;
    }

    .informations {
        max-width: 400px;
    }

    .informations img{
        display: none;
    }

    /* Footer */
    footer{
        width: 100%;
        margin-top: -150px;      
    }

    /* Projet spécifique */
    #work{
        margin-top: 25px;
    }

    .bouton{
        font-size: 14px;
        padding: 15px 40px;
    }

    section.personal_projet{
        width: 500px;
        margin: 0px 20px 0 40px;
    }

    section.personal_projet a{
        display: block;
        margin-top: 10px;
        text-align: center;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    /* PAGE BLOSSOM */
    .uclgo{
        margin: 0px;
        display: block;
    }

    /* PAGE MY HOBBY */
    .logo_myhobby {
        width: 15%;
    }

    /* PAGE UBUYBOOKS */
    .logo_ubuybooks{
        width: 30%;
    }

    .screenshots_ubuybooks img{
        width: 25%;
        vertical-align: top;
    }

    /* PROJET TALULA */
    .project_talula img {
        display: block;
        margin-left: 40px;
        width: 70%;
    }

    /* PHOTOSHOP & ILLUSTRATOR */
    .text_graphic_design{
        width: 70%;
        margin:  0 20px;
    }

    .image_graphic_design img{
        width: 70%;
        margin: 0 20px;
        border-radius: 0px;
    }

    .image_graphic_design p{
        margin: 0 20px;
    }

    /* PAGE CONTACT */
    .personal_information{
        text-align: center;
    }

    #pagecontact{
        margin-top: 200px;
    } 
}

/* Tablet screen 1024px */
@media screen and (min-width: 1024px){
    /* General */
    body{
        background-image: url(../icons/main_grid.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: none;
    }
    
    h1{
        font-size: 300px;
        max-width: 1024px;
    }

    .normal_h1{
        font-size: 92px;
        margin: 150px 0 0 40px;
        padding-top: 80px;
    }
    
    h2{
        font-size: 55px;
    }
    
    h3{
        font-size: 22px;
        display: inline;
    }
    
    p {
        font-size: 16px;
    }

    ul {
        font-size: 16px;
    }
    
    /* Menu */
    header{
        position: fixed;
        width: 100%;
    }

    header div{
        width: 750px;
        margin: auto;
        background-color: #23120B;
        margin-top: 20px;
        padding: 20px 0;
        float: none;
        z-index: 100%;
        border-radius: 15px;
    }
    
    header div nav{
        text-align: center;
    }
    
    nav ul{
        list-style-type: none;
        padding-top: 8px;
    }
    nav ul li{
        display: inline-block;
    }
    
    nav ul li a{
        color: #F1F1F1;
        font-size: 18px;
        padding: 20px;
    }
    
    nav ul li a:hover {
        color: #FDB827;
        background-color: #23120B;
    }
    
    #button_header{
        border-radius: 10px;
        background-color: #FDB827;
        color: #23120B;
        padding: 8px 20px;
        margin-left: 0.5em;
        margin-right: 12px;
        font-size: 20px;
        text-align: center;
    }
    
    #button_header:hover{
        background-color: #F1F1F1;
        color: #21209C;
    }
    
    /* Introduction */
    .introduction {
        margin-top: 150px;
    }

    .text_paragraph{
        padding-bottom: 5px;
    }
    
    main#homepage div.square.image{
        width: 50%;
    }

    main#homepage div.square img{
        width: 100%;
        margin: 0 20px 10px 40px;
    }
    
    main#homepage div.square.paragraph{
        padding: 10px 25px 0px 25px;
        margin-left: 7px;
        width: 40%;
        height: 215px;
        margin-top: 120px;
        padding-bottom: 40px;
        color: #F1F1F1;
        background-color: #23120B;
        border-radius: 15px;
        text-align: left;
    }
    
    main#homepage div.square.paragraph a{
        font-size: 16px;
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 10px;
        padding: 12px 0px;
        display: block;
        margin: 0px ;
        text-align: center;
    }

    main#homepage div.square.paragraph a:hover{
        color: #21209C;
        background-color: #F1F1F1;
    }

    /* Testimonials */
    main#homepage section.testimonials{
        margin: 100px 40px 0 40px;
    }

    .testimonials h2{
        width: 900px;
    }

    .container{
        column-count: 3;
        column-width: 100%;
        column-gap: 10px;
    }

    .testimonial_2, .testimonial_3{
        vertical-align: bottom;
    }

    /* My Projets */
    #h2_projects{
        font-size: 55px;
        display: block;
        width: 964px;
    }

    article.card{
        width: 263px;
    }

    section.projects.first_row{
        margin-top: 70px;
        width: 90%;
    }
    
    section.projects.second_row{
        margin-top: -10px;
        width: 90%;
    }
    
    section.projects.third_row{
        margin-top: 100px;
        width: 90%;
    }

    section.projects.fourth_row{
        margin-top: -10px;
        width: 90%;
    }

    section.projects.fifth_row{
        margin-top: 100px;
        width: 90%;
    }
    
    /* About me */
    section.about_me{
        margin-top: 100px;
    }
    
    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 450px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding: 13px;
        display: block;
    }
    
    .personality .one{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .two{
        width: 150px;
        font-size: 15px;
    }
    
    .personality .three{
        width: 120px;
        font-size: 15px;
    }
    
    .personality .four{
        width: 180px;
        font-size: 15px;
    }
    
    .personality .five{
        width: 120px;
        font-size: 15px;
    }

    /* Contact */
    .contact{
        margin-top: 100px;
    }
    
    div.informations{
        width: 510px;
    }
    
    .informations img{
        width: 500px;
        display: block;
    }
    
    /* Footer */
    footer{
        margin-top: 50px;
    }

    /* Projet spécifique */
    #work{
        margin-top: 200px;
    }

    section.personal_projet{
        width: 945px;
        margin: auto;
    }

    section.personal_projet a{
        display: block;
        margin-top: 10px;
        text-align: center;
        width: 30%;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    /* PAGE BLOSSOM */
    .uclgo{
        margin: 0px;
        display: block;
    }

    /* PAGE MY HOBBY */
    .logo_myhobby {
        width: 15%;
    }

    .documentation{
        display: inline-block;
    }

    .documentation img{
        width: 49%;
        vertical-align: top;
    }

    .questionnement{
        display: inline-block;
    }

    .questionnement img{
        width: 49%;
        vertical-align: top;
    }

    /* PAGE UBUYBOOKS */
    .logo_ubuybooks{
        width: 20%;
    }

    .screenshots_ubuybooks img{
        width: 15%;
        vertical-align: top;
    }

    /* PROJET TALULA */
    .project_talula img {
        display: block;
        margin-left: 113px;
        width: 80%;
    }

    /* PHOTOSHOP & ILLUSTRATOR */
    .text_graphic_design{
        width: 80%;
        margin: 0 0 0 120px;
    }

    .image_graphic_design img{
        width: 50%;
        margin: 0 0 0 270px;
        border-radius: 0px;
    }

    .image_graphic_design p{
        margin: 0 0 0 270px;
    }

    /* PAGE CONTACT */
    .personal_information{
        text-align: center;
    }

    #pagecontact{
        margin-top: 150px;
    } 

    .personal_information h2{
        padding-top: 180px;
    }
}

/* PC screen 1280px */
@media screen and (min-width: 1280px){
    /* General */
    body{
        background-image: url(../icons/main_grid.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 650px;
    }

    h1{
        font-size: 305px;
    }

    .normal_h1{
        font-size: 92px;
        margin: 150px 0 0 40px;
        padding-top: 80px;
    }
    
    h2{
        font-size: 55px;
    }
    
    h3{
        font-size: 22px;
        display: inline;
    }
    
    p {
        font-size: 16px;
    }

    ul {
        font-size: 16px;
    }

    /* Menu */
    header{
        position: fixed;
        width: 100%;
    }

    header div{
        float: none;
        margin: auto;
        background-color: #23120B;
        border-radius: 15px;
        margin-top: 20px;
        padding: 25px 0;
        width: 750px;
        z-index: 100%;
    }

    header div nav{
        text-align: center;
    }

    nav ul li{
        display: inline-block;
    }

    nav ul li a{
        color: #F1F1F1;
        font-size: 18px;
        padding: 20px;
    }

    nav li a:hover{
        color: #FDB827;
        background-color: #23120B;
    }

    #button_header{
        border-radius: 10px;
        background-color: #FDB827;
        color: #23120B;
        padding: 8px 20px;
        margin-left: 0.5em;
        margin-right: 12px;
        font-size: 20px;
        text-align: center;
    }

    #button_header:hover{
        background-color: #F1F1F1;
        color: #21209C;
    }
    
    /* Introduction */ 
    .introduction {
        margin-top: 150px;
    }

    .text_paragraph{
        padding-bottom: 11px;
    }

    main#homepage div.square.image{
        width: 60%;
    }
    
    main#homepage div.square.paragraph{
        padding: 10px 25px 0px 25px;
        margin: 0px;
        width: 34%;
        height: 300px;
        margin-top: 100px;
        padding-bottom: 0px;
        color: #F1F1F1;
        background-color: #23120B;
        border-radius: 15px;
        text-align: left;
    }

    main#homepage div.square.paragraph a{
        font-size: 16px;
        padding: 12px 0px;
        display: block;
        margin: 0px ;
        text-align: center;
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 10px;
    }

    main#homepage div.square.paragraph a:hover{
        color: #21209C;
        background-color: #F1F1F1;
    }

    /* Testimonials */
    main#homepage section.testimonials{
        margin: 100px 40px 0 40px;
    }

    .testimonials h2{
        width: 900px;
    }

    .container{
        column-count: 3;
        column-width: 100%;
        column-gap: 10px;
    }

    .testimonial_2, .testimonial_3{
        vertical-align: bottom;
    }

    /* My projets */
    #h2_projects{
        width: 1000px;
    }

    article.card{
        width: 270px;
    }

    section.projects.first_row{
        margin-top: 70px;
        width: 92%;
    }

    section.projects.second_row{
        margin-top: -10px;
        width: 92%;
    }

    section.projects.third_row{
        margin-top: 100px;
        width: 92%;
    }
    
    section.projects.fourth_row{
        margin-top: -10px;
        width: 92%;
    }  

    section.projects.fifth_row{
        margin-top: 150px;
        width: 92%;
    }

    /* About me*/
    section.about_me{
        margin-top: 100px;
    }
    
    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 480px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 40px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding: 20px;
        display: block;
    }
    
    .personality .one{
        width: 190px;
    }
    
    .personality .two{
        width: 150px;
    }
    
    .personality .three{
        width: 150px;
    }
    
    .personality .four{
        width: 200px;
    }
    
    .personality .five{
        width: 150px;
    }

    /* Contact */
    .contact{
        margin-top: 150px;
    }

    .informations{
        width: 510px;
    }

    .informations img{
        display: block;
    }

    /* Footer */
    footer{
        margin-top: 50px;
    }

    /* Projet spécifique */
    #work{
        margin-top: 200px;
    }

    .bouton{
        font-size: 16px;
        padding: 15px 40px;
    }
    
    section.personal_projet{
        width: 945px;
        margin: auto;
    }

    section.personal_projet a{
        display: block;
        margin-top: 10px;
        text-align: center;
        width: 30%;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    /* PAGE BLOSSOM */
    .uclgo{
        margin: 0px;
        display: block;
    }

    /* PAGE MY HOBBY */
    .logo_myhobby {
        width: 15%;
    }

    .documentation{
        display: inline-block;
    }

    .documentation img{
        width: 49%;
        vertical-align: top;
    }

    .questionnement{
        display: inline-block;
    }

    /* PAGE UBUYBOOKS */
    .logo_ubuybooks{
        width: 20%;
    }

    .questionnement img{
        width: 49%;
        vertical-align: top;
    }

    .screenshots_ubuybooks img{
        width: 25%;
        vertical-align: top;
    }

    /* PROJET TALULA */
    .project_talula img {
        display: block;
        margin-left: 113px;
        width: 80%;
    }

    /* PHOTOSHOP & ILLUSTRATOR */
    .text_graphic_design{
        width: 80%;
        margin: 0 0 0 120px;
    }

    .image_graphic_design img{
        width: 50%;
        margin: 0 0 0 270px;
        border-radius: 0px;
    }
    
    .image_graphic_design p{
        margin: 0 0 0 270px;
    }

    /* PAGE CONTACT */
    .personal_information{
        text-align: center;
    }

    #pagecontact{
        margin-top: 150px;
    } 

    .personal_information h2{
        padding-top: 180px;
    }
}

/* PC screen 1536px */
@media screen and (min-width: 1536px){
    /* General */
    body{
        background-image: url(../icons/main_grid.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100px;
    }

    h1{
        font-size: 305px;
    }

    .normal_h1{
        font-size: 92px;
        margin: 150px 0 0 40px;
        padding-top: 80px;
    }
    
    h2{
        font-size: 55px;
    }
    
    h3{
        font-size: 22px;
        display: inline;
    }
    
    p {
        font-size: 16px;
    }

    ul {
        font-size: 16px;
    }

    /* Menu */
    header{
        position: fixed;
        width: 100%;
    }
    
    header div{
        float: none;
        margin: auto;
        background-color: #23120B;
        border-radius: 15px;
        margin-top: 20px;
        padding: 25px 0;
        width: 750px;
        z-index: 100%;
    }

    header div nav{
        text-align: center;
    }

    nav ul li{
        display: inline-block;
    }

    nav ul li a{
        color: #F1F1F1;
        font-size: 18px;
        padding: 20px;
    }

    nav li a:hover{
        color: #FDB827;
        background-color: #23120B;
    }

    #button_header{
        border-radius: 10px;
        background-color: #FDB827;
        color: #23120B;
        padding: 8px 20px;
        margin-left: 0.5em;
        margin-right: 12px;
        font-size: 20px;
        text-align: center;
    }

    #button_header:hover{
        background-color: #F1F1F1;
        color: #21209C;
    }

    /* Introduction */
    .introduction {
        margin-top: 150px;
    }

    .text_paragraph{
        padding-bottom: 15px;
    }

    main#homepage div.square.image{
        width: 50%;
    }
    
    main#homepage div.square.paragraph{
        padding: 10px 25px 0px 25px;
        margin-left: 0px;
        width: 411px;
        height: 270px;
        margin-top: 100px;
        color: #F1F1F1;
        background-color: #23120B;
        border-radius: 15px;
        text-align: left;
    }

    main#homepage div.square.paragraph a{
        font-size: 16px;
        padding: 12px 92px;
        background-color: #FDB827;
        text-decoration: none;
        color: #23120B;
        font-family: "Alfa Slab One", serif;
        font-weight: 400;
        font-style: normal;
        border-radius: 10px;
    }

    main#homepage div.square.paragraph a:hover{
        color: #21209C;
        background-color: #F1F1F1;
    }

    /* Testimonials */
    main#homepage section.testimonials{
        margin: 100px 40px 0 40px;
    }

    .testimonials h2{
        width: 900px;
    }

    .container{
        column-count: 3;
        column-width: 100%;
        column-gap: 10px;
    }

    .testimonial_2, .testimonial_3{
        vertical-align: bottom;
    }

    /* My projets */
    #h2_projects{
        width: 1000px;
    }

    article.card{
        width: 270px;
    }

    section.projects.first_row{
        margin-top: 100px;
        width: 92%;
    }

    section.projects.second_row{
        margin-top: -10px;
        width: 92%;
    }

    section.projects.third_row{
        margin-top: 100px;
        width: 92%;
    }    

    section.projects.fourth_row{
        margin-top: -10px;
        width: 92%;
    }

    section.projects.fifth_row{
        margin-top: 150px;
        width: 92%;
    }

    /* Contact */
    .contact{
        margin-top: 150px;
    }

    .informations{
        width: 510px;
    }

    .informations img{
        display: block;
    }

    /* About me */
    section.about_me{
        margin-top: 100px;
    }

    div.personality{
        display: inline-block;
        vertical-align: top;
        width: 480px;
    }

    div.personality h3{
        color: #F1F1F1;
        background-color: #21209C;
        border-radius: 30px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 25px;
        padding: 20px;
        display: block;
    }
    
    .personality .one{
        width: 190px;
    }
    
    .personality .two{
        width: 150px;
    }
    
    .personality .three{
        width: 150px;
    }
    
    .personality .four{
        width: 200px;
    }
    
    .personality .five{
        width: 150px;
    }

    /* Footer */
    footer{
        margin-top: 50px;
    }

    /* Projet spécifique */
    #work{
        margin-top: 200px;
    }

    .bouton{
        font-size: 16px;
        padding: 15px 40px;
    }

    section.personal_projet{
        width: 945px;
        margin: auto;
    }

    section.personal_projet a{
        display: block;
        margin-top: 10px;
        text-align: center;
        width: 30%;
    }

    .wireframes div img{
        padding: 0 2px 15px 0;
    }

    .prototype div img{
        padding: 0 2px 15px 0;
    }

    /* PAGE BLOSSOM */
    .uclgo{
        margin: 0px;
        display: block;
    }

    /* PAGE MY HOBBY */
    .logo_myhobby {
        width: 15%;
    }

    .documentation{
        display: inline-block;
    }

    .documentation img{
        width: 49%;
        vertical-align: top;
    }

    .questionnement{
        display: inline-block;
    }

    .questionnement img{
        width: 49%;
        vertical-align: top;
    }

    /* PAGE UBUYBOOKS */
    .logo_ubuybooks{
        width: 20%;
    }

    .screenshots_ubuybooks img{
        width: 25%;
        vertical-align: top;
    }

    /* PROJET TALULA */
    .project_talula img {
        display: block;
        margin-left: 113px;
        width: 80%;
    }

    /* PHOTOSHOP & ILLUSTRATOR */
    .text_graphic_design{
        width: 80%;
        margin: 0 0 0 120px;
    }

    .image_graphic_design img{
        width: 50%;
        margin: 0 0 0 270px;
        border-radius: 0px;
    }

    .image_graphic_design p{
        margin: 0 0 0 270px;
    }

    /* PAGE CONTACT */
    .personal_information{
        text-align: center;
    }

    #pagecontact{
        margin-top: 150px;
    }

    .personal_information h2{
        padding-top: 180px;
    }
}